#user{
  border: 1px black solid;
  width: 80vw;
  margin: auto;
  display: flex;
  padding: 10px;
}

#datosUser{
  padding-left: 20px;

}

#random{
  border: 1px black solid;
  width: 80vw;
  margin: auto;
  padding: 10px;
}

#lang {
  border: 1px black solid;
  width: 80vw;
  margin: auto;
  padding: 10px;
}

